.post-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
}
h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
}
